In [1]:
import pandas as pd

In [6]:
stats = pd.read_csv(r'C:\Users\vj0467\OneDrive - Sandvik\HomeShare\Documents\Yurchenko desktop copy\Marketing\Нетология_2020\HW\pyda-16-hw-1\ml-latest-small\ratings.csv')
stats.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [21]:

def rating_class(row):
    if row['rating'] <= 2:
        return 'low'
    if row['rating'] <= 4:
        return 'middle'
    else:
        return 'high'

In [26]:
stats['class'] = stats.apply(rating_class, axis=1)
stats.tail()

        userId  movieId  rating   timestamp   class
100831     610   166534     4.0  1493848402  middle
100832     610   168248     5.0  1493850091    high
100833     610   168250     5.0  1494273047    high
100834     610   168252     5.0  1493846352    high
100835     610   170875     3.0  1493846415  middle

In [63]:
df = pd.read_csv(r'C:\Users\vj0467\OneDrive - Sandvik\HomeShare\Documents\Yurchenko desktop copy\Marketing\Нетология_2020\HW\pyda-16-hw-1\ml-latest-small\ml-latest-small\keywords.csv')
df.tail()

                       keyword  shows
99995   эльдорадо старый оскол   3705
99996      frigate для firefox   3630
99997                   укрсиб   3630
99998  погода в ялте на неделю   3688
99999                     ггму   3630

In [ ]:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [64]:
def region(row):
    for key, value in geo_data.items():
            search_phrase = row['keyword'].split(' ')
            for el in search_phrase:
                if el in value:
                    return key
          
    return 'undefined'

In [65]:
df['region'] = df.apply(region, axis=1)
df.tail()

                       keyword  shows     region
99995   эльдорадо старый оскол   3705  undefined
99996      frigate для firefox   3630  undefined
99997                   укрсиб   3630  undefined
99998  погода в ялте на неделю   3688  undefined
99999                     ггму   3630  undefined

In [66]:
df['region'].unique()

array(['undefined', 'Центр', 'Северо-Запад', 'Дальний Восток'],
      dtype=object)